<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DAYS</title>
    <link rel="stylesheet" href="/css/tailwind.css" />
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css" />
  </head>
  <body>
    <nav class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-900">
        <div class="container flex flex-wrap justify-between items-center mx-auto w-screen">
          <a href="/" class="flex items-center">
              <img src="/thelogo.png" class="mr-3 h-6 sm:h-9" alt="Flowbite Logo" />
              <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">THE BOSS EAT</span>
          </a>
          <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
          </button>
          <div class="hidden w-full md:block md:w-auto" id="navbar-default">
            <ul class="flex flex-col p-4 mt-4 bg-gray-50 rounded-lg border border-gray-100 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
              <li>
                <a href="/" class="block py-2 pr-4 pl-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white" aria-current="page">Home</a>
              </li>
              <li>
                <a href="/about" class="block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-red-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">About</a>
              </li>
              <li>
                <a href="/admin" class="block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Admin Login</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <div class="container h-screen w-screen flex flex-col items-center pt-24">
        <h1 class="text-7xl text-gray-400 text-center my-3 font-graduate uppercase phone:text-6xl">Select Days You Are Available</h1>
        <form action="" method="POST" class="w-4/5 laptop:gap-x-3 flex flex-col phone:w-96 phone:mt-3 phone:justify-center tablet:w-4/5 tablet:gap-x-2">
            <div class="flex flex-row laptop:gap-x-16 laptop:pl-6 laptop:mt-4 min-w-full h-12 pt-4 border-b-2 border-red-800 phone:grid phone:grid-cols-2 phone:h-36 ">
            <form action="">
            <div class="">
                <input type="checkbox" name="days" value="monday" id="monday" {{Monday}}/>
                <label for="monday">Monday</label>
            </div>
            <div class="">
                <input type="checkbox" name="days" value="tuesday" id="tuesday" {{Tuesday}}/>
                <label for="tuesday">Tuesday</label>
            </div>
            <div class="">
                <input type="checkbox" name="days" value="wednesday" id="wednesday" {{Wednesday}}/>
                <label for="wednesday">Wednesday</label>
            </div>
            <div class="">
                <input type="checkbox" name="days" value="thursday" id="thursday" {{Thursday}}/>
                <label for="thursday">Thursday</label>
            </div>
            <div class="">
                <input type="checkbox" name="days" value="friday" id="friday" {{Friday}}/>
                <label for="friday">Friday</label>
            </div>  
            <div class="">
                <input type="checkbox" name="days" value="saturday" id="saturday" {{Saturday}}/>
                <label for="saturday">Saturday</label>
            </div>
            <div class="">
                <input type="checkbox" name="days" value="sunday" id="sunday" {{Sunday}}/>
                <label for="sunday">Sunday</label>
            </div>
            </div>
           <!-- minimalist buttton -->
              <div class="flex flex-row justify-end pt-3 gap-x-3 phone:mt-3">
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                     Submit
                </button>
                <button type="reset" class="bg-red-700 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                     Reset
                </button>
        </form>
    </div>
    <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
  </body>
</html>