<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="/css/tailwind.css" />
      <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css" />
</head>
<body>
    <nav class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-900">
        <div class="container flex flex-wrap justify-between items-center mx-auto w-screen">
          <a href="/" class="flex items-center">
              <img src="/thelogo.png" class="mr-3 h-6 sm:h-9" alt="Flowbite Logo" />
              <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">THE BOSS EAT</span>
          </a>
          <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
          </button>
          <div class="hidden w-full md:block md:w-auto" id="navbar-default">
            <ul class="flex flex-col p-4 mt-4 bg-gray-50 rounded-lg border border-gray-100 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
              <li>
                <a href="/" class="block py-2 pr-4 pl-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white" aria-current="page">Home</a>
              </li>
              <li>
                <a href="/about" class="block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-red-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">About</a>
              </li>
              <li>
                <a href="/admin" class="block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Admin Login</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
<div class="container mx-auto">
    <!-- reset button -->
    <div class="container flex flex-row justify-end mb-2 mt-5">
    <a href="/reset">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" id="reset" type="button">Reset</button>
    </a>
    </div>
<div class="overflow-x-auto relative shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="py-3 px-6" style="background-color:{{MondayColor}}">
                    Monday
                </th>
                <th scope="col" class="py-3 px-6" style="background-color:{{TuesdayColor}}">
                    Tuesday
                </th>
                <th scope="col" class="py-3 px-6" style="background-color:{{WednesdayColor}}">
                    Wednesday
                </th>
                <th scope="col" class="py-3 px-6" style="background-color:{{ThursdayColor}}">
                    Thursday
                </th>
                <th scope="col" class="py-3 px-6" style="background-color:{{FridayColor}}">
                    Friday
                </th>
                <th scope="col" class="py-3 px-6" style="background-color:{{SaturdayColor}}">
                    Saturday
                </th>
                <th scope="col" class="py-3 px-6" style="background-color:{{SundayColor}}">
                    Sunday
                </th>
            </tr>
        </thead>
        <tbody class="divide-y divide-gray-200 dark:divide-gray-700">
            <tr>
               
                <td class="py-3 px-6">
                     {{#each Monday}}
                    <div class="flex items-center">
                        <span>{{this}}</span>
                    </div>
                     {{/each}}
                </td>
                <td class="py-3 px-6">
                    {{#each Tuesday}}
                    <div class="flex items-center">
                        <span>{{this}}</span>
                    </div>
                     {{/each}}
                </td>
                <td class="py-3 px-6">
                    {{#each Wednesday}}
                    <div class="flex items-center">
                        <span>{{this}}</span>
                    </div>
                     {{/each}}
                </td>
                <td class="py-3 px-6">
                    {{#each Thursday}}
                    <div class="flex items-center">
                        <span>{{this}}</span>
                    </div>
                     {{/each}}
                </td>
                <td class="py-3 px-6">
                    {{#each Friday}}
                    <div class="flex items-center">
                        <span>{{this}}</span>
                    </div>
                     {{/each}}
                </td>
                <td class="py-3 px-6">
                    {{#each Saturday}}
                    <div class="flex items-center">
                        <span>{{this}}</span>
                    </div>
                     {{/each}}
                </td>
                <td class="py-3 px-6">
                    {{#each Sunday}}
                    <div class="flex items-center">
                        <span>{{this}}</span>
                    </div>
                     {{/each}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- !key -->
<div class="w-full h-12 flex fex-row justify-end mt-3">
    <!-- key for enough waiters  -->
    <div class="flex flex-col w-48 h-12 gap-y-3 phone:pl-3">
      <div class="flex flex-row items-baseline gap-x-3">
        <div class="h-4 w-4 bg-orange-400 rounded-full"></div>
        <div class="h-5 text-xl">Enough Waiters</div>
      </div>
        <div class="flex flex-row items-baseline gap-x-3">
            <div class="h-4 w-4 bg-red-600 rounded-full"></div>
            <div class="h-5 text-xl">Overbooked</div>
        </div>
      </div>
      </div>
    </div>
</div>
</div>
      <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
</body>
</html>