<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DAYS</title>
    <link rel="stylesheet" href="/css/tailwind.css" />
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css" />
    <link href="https://unpkg.com/intro.js/minified/introjs.min.css" rel="stylesheet"> 
  </head>
  <body class="h-screen w-screen">
    <nav class="bg-white border-gray-200 px-2 phone:px-4 py-2.5 rounded dark:bg-gray-900 phone:w-full">
        <div class="container flex flex-wrap justify-between items-center mx-auto w-screen">
          <a href="/" class="flex items-center">
              <img src="/thelogo.png" class="mr-3 h-6 sm:h-9" alt="Flowbite Logo" />
              <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">THE BOSS EAT</span>
          </a>
          <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
          </button>
          <div class="hidden w-full md:block md:w-auto" id="navbar-default">
            <ul class="flex flex-col p-4 mt-4 bg-gray-50 rounded-lg border border-gray-100 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
              <li>
                <a href="/" class="block py-2 pr-4 pl-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white" aria-current="page">Home</a>
              </li>
              <li>
                <a href="/about" class="block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-red-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">About</a>
              </li>
              <li>
                <a href="/adminSignup" class="block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent" data-step="3" data-title="Admin Page" data-intro="Click On This Button To See How Many Workers Are Able To Work">Admin Login</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="container w-screen h-4/5 flex flex-col items-center tablet:mt-8 phone:mt-14">
        <div class="h-40 w-3/4 phone:text-4xl">
          <h1 class="laptop:text-7xl text-gray-400 text-center my-3 font-graduate uppercase">Select Days You Are Available</h1>
        </div>
        <div class="text-green-500 text-center mt-2 font-bold">
          {{#if messages.error}}
          <p class="error">{{messages.error}}</p>
          {{/if}}
        </div>
        <div class="laptop:h-48 laptop:w-3/4 flex justify-center items-center tablet:mt-8 tablet:w-full phone:h-96 phone:w-48">
          <form action="" method="POST" class="laptop:w-4/5 laptop:h-14 tablet:h-44 phone:h-96 phone:w-52 phone:pt-14" >
            <!-- !checkboxes -->
            <div class="w-full h-5 grid laptop:grid-cols-7 tablet:grid-cols-1 tablet:gap-y-3" data-step="1" data-title="WORKING DAYS" data-intro="This Is Where You Can Select Your Working Days">
              <div class="col-span-1 flex flex-row justify-center gap-x-2 items-baseline">
                <input type="checkbox" name="days" value="monday" id="monday" {{Monday}}/>
                <label for="monday" class="tablet:text-3xl phone:text-2xl">Monday</label>
            </div>
            <div class="col-span-1 flex flex-row justify-center gap-x-2 items-baseline">
                <input type="checkbox" name="days" value="tuesday" id="tuesday" {{Tuesday}}/>
                <label for="tuesday" class="tablet:text-3xl phone:text-2xl">Tuesday</label>
            </div>
            <div class="col-span-1 flex flex-row justify-center gap-x-2 items-baseline">
                <input type="checkbox" name="days" value="wednesday" id="wednesday" {{Wednesday}}/>
                <label for="wednesday" class="tablet:text-3xl phone:text-2xl">Wednesday</label>
            </div>
            <div class="col-span- flex flex-row justify-center gap-x-2 items-baseline">
                <input type="checkbox" name="days" value="thursday" id="thursday" {{Thursday}}/>
                <label for="thursday" class="tablet:text-3xl phone:text-2xl">Thursday</label>
            </div>
            <div class="col-spa flex flex-row justify-center gap-x-2 items-baseline">
                <input type="checkbox" name="days" value="friday" id="friday" {{Friday}}/>
                <label for="friday" class="tablet:text-3xl phone:text-2xl">Friday</label>
            </div>
            <div class="col-span flex flex-row justify-center gap-x-2 items-baseline">
                <input type="checkbox" name="days" value="saturday" id="saturday" {{Saturday}}/>
                <label for="saturday" class="tablet:text-3xl phone:text-2xl">Saturday</label>
            </div>
            <div class="col-span-1 flex flex-row justify-center gap-x-2 items-baseline">
                <input type="checkbox" name="days" value="sunday" id="sunday" {{Sunday}}/>
                <label for="sunday" class="tablet:text-3xl phone:text-2xl">Sunday</label>
            </div>
            </div>
            <hr class="border-2 w-4/4 border-red-600 laptop:mt-2 tablet:mt-80 phone:mt-56">
            <!-- !buttons -->
            <div class=" w-full h-11 flex py-2 gap-x-2 tablet:justify-center laptop:justify-end pr-2 laptop:pt-1 tablet:mt-2 tablet:gap-x-8 phone:justify-center">
              <button type="submit" class="bg-white text-center px-2  border border-black rounded-md tablet:h-9 tablet:w-24" data-step="2" data-title="SUBMIT BUTTON" data-intro="Click On This Button To Submit Or Update Waiter Selected Days">
                Submit
             </button>
             </form>
             <form action="/resetDays" method="post">
              <button type="submit" class="bg-gray-300 text-center px-2 border border-black rounded-md text-black font-semibold tablet:h-9 tablet:w-24">
                Reset
              </button>
             </form>
            </div>
          
        </div>
      </div>
    <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
    <script src="/setTimeout.js"></script>
    <script src="https://unpkg.com/intro.js/minified/intro.min.js"></script>
     <script>
         introJs().setOptions({
        showProgress: true,
        showBullets: false,
        showStepNumbers: false,
        nextLabel: 'Next',
        prevLabel: 'Previous',
        doneLabel: 'Done',
        tooltipClass: 'customTooltip',
        exitOnOverlayClick: false,
        disableInteraction: true,
        exitOnEsc: false, 
         }).start();
      </script>
            <style>
              .customTooltip * {
                color: #4a4a4a;
                font-size: 18px;
              }
      
             .customTooltip .introjs-tooltip-title {
                color: red;
                font-size: 20px;
                font-weight: bold;
              }
            </style>
  </body>
</html>
